<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_quanlykhuyenmai" name="Quản lý khuyến mãi"/>
        <menuitem id="menu_managment" name="Managment" parent="menu_quanlykhuyenmai" />
        <menuitem id="menu_quanlychuongtrinhkhuyenmai" name="Quản lý chương trình khuyến mãi" parent="menu_managment" action="action_quan_ly_chuong_trinh_khuyen_mai"/>
        <menuitem id="menu_quanlykhachhang" name="Quản lý khách hàng" parent="menu_managment" action="action_quan_ly_khach_hang"/>
        <menuitem id="menu_loyalty_history" name="Quản lý loyalty history" parent="menu_managment" action="action_loyalty_history" sequence="1"/>
        <menuitem id="menu_partner_levels" name="Quản lý parner levels" parent="menu_configuration" action="action_partner_levels"/>
        <menuitem id="menu_configuration" name="Configuration" parent="menu_quanlykhuyenmai" />
        <menuitem id="menu_res_config_setting" name="settings" parent="menu_configuration" action="action_res_config_setting"/>

    </data>
</odoo>